@{
    ViewBag.Title = "Contravvenzioni";
}

<h2>Contravvenzioni</h2>
<!-- The following code is used to create a collapsible button that will show the data when clicked -->
<div class="row">
    <div class="col-md-3">
        <button style="width:100%; margin-bottom: 10px;" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <p>  per trasgressore</p>
        </button>

        <button style="width:100%; margin-bottom: 10px;" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            <p>Punti decurtati</p>
        </button>

        <button style="width:100%; margin-bottom: 10px;" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            <p>maggiore di 10 punti</p>
        </button>

        <button style="width:100%" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            <p>maggiore di 400€</p>
        </button>
    </div>
    <!-- The following code is used to display the data in the collapsible button-->
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">

                <div class="" id="collapseExample" data-parent=".row">
                    <h3>Contravvenzioni per trasgressore</h3>
                    <div class="card card-body img-rounded table-bordered" style="background-color:white;">
                        @{
                            Html.RenderAction("_ContravvenzioniPerTrasgressore", "Home");
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="" id="collapseExample1" data-parent=".row">
                    <h3>Punti decurtati per ogni trasgressore</h3>
                    <div class="card card-body img-rounded table-bordered" style="background-color:white;">
                        @{
                            Html.RenderAction("_PuntiDecurtatiPerOgniTrasgressore", "Home");
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="" id="collapseExample2" data-parent=".row">
                    <h3>Contravvenzioni che superano i 10 punti</h3>
                    <div class="card card-body img-rounded table-bordered" style="background-color:white;">
                        @{
                            Html.RenderAction("_ContravvenzioniSuperano10Punti", "Home");
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="" id="collapseExample3" data-parent=".row">
                    <h3>Contravvenzioni con importo maggiore a 400€</h3>
                    <div class="card card-body img-rounded table-bordered" style="background-color:white;">
                        @{
                            Html.RenderAction("_ContravvenzioniImportoMaggiore400", "Home");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

